.container-fluid{
    padding: 0;
    margin: 0;
    position: relative;
}


.man{
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
    width: 100%;
    height: 750px;
}


.display-6 {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    margin-inline: auto;
    width: fit-content;
    height: 50px;
}


.btn {
    font-size: x-large;
    font-weight: bold;


}

.page{
    text-decoration: none;
    color: inherit;
}

.icon {
    color: rgb(5, 109, 245);
    margin-bottom: 2px;
}



.box {
    box-shadow: inset 5px 10px 90px 20px rgb(255, 255, 255);
}




.hero {
    background-color:  rgb(129, 58, 25);
    margin-top: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 50%;
    width: 100%;
}


.picture {
    border-radius: 50%;
    margin-top: 20px;
    padding-top: 5px;
    height: 300px;
    width: 300px;
}


.header {
    padding-top: 10px ;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



.lead {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: wheat;
    width: 90% ;
    height: 60% ;
    padding: 10px;
}



.section3 {
    position: relative;
    margin-top: 40px;
    width: 100% ;
    height: 100vh ;
    background-image: url('./8272621_3861794_b3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
}


.section3::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5px;
}


.image1 {
    position: absolute;
    border-radius: 12%;
    top: 15% ;
    left: 10% ;
    right: 0;
    bottom: 0;

}


.bot {
    position: absolute ;
    width: fit-content;
    height: 60px;
    margin-inline: auto ;
    top: 55% ;
    left: 19%;
}


.boxy {
    color: rgb(243, 141, 104); ;
    text-decoration: none;
}



.boxy:hover {
    color:  rgb(124, 58, 245);
}



.image2 {
    position: absolute;
    border-radius: 12%;
    top : 60% ;
    left: 65% ;
}


.bot1 {
    position: absolute;
    width: fit-content;
    height: 60px;
    margin-inline: auto ;
    top: 96% ;
    left: 75%;
}



.boxy1 {
    text-decoration: none;
    color: white
  }



.boxy1:hover{
   color: rgb(79, 193, 231);
}


.image3 {
    position: absolute;
    border-radius: 12%;
    top: 110% ;
    left: 10%;

}


.bot2 {
    position: absolute;
    width: fit-content;
    height: 60px;
    margin-inline: auto ;
    top: 150% ;
    left: 19%;
}



.boxy2 {
    text-decoration: none;
    color: rgb(42, 163, 42)
  }



  .boxy2:hover{
    color: rgb(207, 204, 30);
}



.arrow1 {
   position: absolute;
   top: 48% ;
   left: 115% ;
}



.arrow2 {
    position: absolute;
    top: 95% ;
    left: 45% ;
}


.arrow3{
    position: absolute;
    top: 70% ;
    left: 10px ;
    transform: rotate(-300deg);
}




.section4 {
     margin-top: 40px;
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-bottom: 800px;
}


.section4::before {
    content: "";
    position: absolute;
    background-image: url('./Seamless-Geometric-Background.png');
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}


.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}


.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}


.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.text {
    top: 5%;
    left: 2%;
    right: 0 ;
    bottom: 0;
    width: 100px;
    height: 200px;
    font-size: 150px ;
    color: white;
}


.small-box {
    position: absolute;
    top:  0 ;
    right: 0;
    left: 50% ;
    bottom: 0 ;
    height: 98%;
    background-color:   rgba(122, 109, 109, 0.616);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 9px ;
    margin-bottom: 9px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}


.text-box{
    font-size: 60px ;
    padding-top: 20px;
    padding-left: 20px ;
    width: fit-content ;
}


@media (max-width: 767px) {

    html,body{

        width: 100%;

        height: 100%;

        margin:0;

        padding:0;

        overflow-x:hidden;

        }

        .man{
            position: relative;
            z-index: -1;
            margin-bottom: 20px;
            width: 100%;
            height: 750px;
        }



        .display-6 {
            position: absolute;
            top: 200px ;
            left:  0 ;
            right: 0 ;
            bottom: 0;
            margin-inline: auto;
            width: fit-content;
            height: 50px;
        }

        .section4 {
            padding-bottom: 1050px;
        }

        .text {
            left: 10% ;
            top: 10%;
            transform: translate(-10%, -10%);
            width: 100px;
            height: 200px;
            font-size: 70px ;
            color: white;
        }


        .small-box {
            position: absolute;
            top:  45% ;
            right: 0;
            left: 10% ;
            bottom: 0 ;
            height: 53%;
            background-color:   rgba(122, 109, 109, 0.616);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            margin-top: 20px ;
            border-top-left-radius: 10%;
            border-bottom-left-radius: 10%;
        }


        .text-box{
            font-size: 30px ;
            padding-top: 20px;
            padding-left: 40px ;
            padding-right: 100px;
            width: 100% ;
        }


       /* .social-tag {
            margin-top: 5px;
            padding-left: 30px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: start;

        } */
}


